body{
    background-color: black;
}

div {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    background-color:cornflowerblue;
    animation: circle 5s linear infinite alternate;
}

p {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 900px;
    border-radius: 50%;
    z-index: -1;
    background-color:dimgray;
    animation: circle 5s linear infinite alternate;
}

svg{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: image 10s;
}


@keyframes circle{
    0%   {background-color:aliceblue; left: 80%; top: 20%; transform: rotate(70deg);}
    25%  {background-color: orange; left: 70%; top: 60%; transform: rotateZ(-80deg)}
    50%  {background-color:blue; left: 10%; top: 75%; transform: rotate(100deg)}
    75%  {background-color:black; left: 2%; top: 2%; transform: rotate(-100deg)}
  }

@keyframes image{
    0%   {-webkit-transform: scale(.6);}
    25%  {-webkit-transform: scale(2); transform: rotateZ(-10deg)}
    50%  {-webkit-transform: scale(4);}
    75%  {-webkit-transform: scale(0.1); transform: rotate(-10deg)}
  }
